<header class="header">
    <div class="header-content">
        <img src="../../assets/images/adminLogo.png" width="80" height="95"/>      
    
        
        <div class="header-left">
            <div class="company-name">
                
                <h1 style="margin-top: 0;">OOTDAdmin</h1>
            </div>

            <div class="quote">
                <span style="font-size:12px;">Eat Fresh Work Healthy</span>
            </div>
        </div>

        <!-- <div class="header-right">
            <div *ngIf="sessionService.getIsLogin() == true" class=header-action>
                <button pButton pRipple type="button" label="Logout" (click)="logout()"
                    class=" p-button-infop-button-text"></button>

            </div>
        </div> -->
    </div>



</header>