* {
    color: #ffaa00;
}
.header {
    height: 8rem;
    background-color: #262626;
}

.header-content {
    padding-left: 2rem;
    padding-top: 1rem;

    display: flex;
}

.header-left {
    -webkit-box-flex: 1;
    flex: 1;
    padding-right: 50px;  
    padding-left: 50px;
}

.header-right {
        width: 17.5rem;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
        width: auto;
        height: auto;
        /* border-left: 1px solid #efefef; */
    
}

.company-name {
    padding-top: 0.5rem; 
    margin-right: 0.5rem;
    margin-top: 0px;
}
