<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-subheader>HR Management</div>
      <a mat-list-item routerLink="/staff-management">Staff Management</a>
      <a mat-list-item routerLink="/staff-management">User Management</a>
      <a mat-list-item routerLink="/staff-management">Driver Management</a>
      <mat-divider></mat-divider>
      <div mat-subheader>Product Management</div>
      <a mat-list-item routerLink="/staff-management">Bento Management</a>
      <a mat-list-item routerLink="/staff-management">Ingredient Management</a>
      <a mat-list-item routerLink="/staff-management">Promo Management</a>
      <a mat-list-item routerLink="/staff-management">Review Management</a>
      <mat-divider></mat-divider>
      <div mat-subheader>Sales Management</div>
      <a mat-list-item routerLink="/staff-management">Sale Transaction Management</a>
      <a mat-list-item routerLink="/staff-management">Report Generation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OOTDAdmin</span>
    </mat-toolbar> -->
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <h1>OOTDAdmin</h1>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span style="font-size:12px;">Eat Fresh Work Healthy</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>