<app-navbar></app-navbar>

<section class="content" id="content">
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
    <p-toast></p-toast>
    <div class="container">
        <div class="headerContent">
            <h3 class="header">All Meals</h3>
            <app-create-new-meal class="header"></app-create-new-meal>
        </div>
        <div class="mealsTable">
            <p-table [value]="allMeals">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Meal ID</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Calorie</th>
                        <th>Average Rating</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Available</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-meal>
                    <tr>
                        <td>{{meal.mealId}}</td>
                        <td>{{meal.price}}</td>
                        <td>{{meal.description}}</td>
                        <td>{{meal.calorie}}</td>
                        <td>{{meal.averageRating}}</td>
                        <td>{{meal.name}}</td>
                        <td><img src="{{'http://localhost:8080/OTFood-war/uploadedFiles/bentos/' + meal.image + '.jpg'}}" style="max-width: 70%; max-height: 70%;" alt="No Image"/></td>
                        <td *ngIf="meal.isAvailable" style="color: greenyellow"> True &nbsp;<p-inputSwitch [(ngModel)]="meal.isAvailable" (onChange)="updateAvail(meal)"></p-inputSwitch></td>
                        <td *ngIf="!meal.isAvailable" style="color: crimson">False &nbsp;<p-inputSwitch [(ngModel)]="meal.isAvailable" (onChange)="updateAvail(meal)"></p-inputSwitch></td>
                        <td>
                            <p-splitButton class="actionButton" label="View More" icon="pi pi-eye" (onDropdownClick)="setUpdateMeal(meal)" (onClick)="viewDetails(meal)" [model]="items"></p-splitButton>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog header="View Bento" [(visible)] = "showViewMealDialog">
        <div class="dialogcontainer">
            <div class="dialogrow">
                <div class="dialogcolumn columndescription">Meal ID: </div>
                <div class="dialogcolumn">{{mealToView.mealId}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription">Name: </div>
                <div class="dialogcolumn">{{mealToView.name}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Description: </div>
                <div class="dialogcolumn">{{mealToView.description}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Price: </div>
                <div class="dialogcolumn">{{mealToView.price | currency}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Calorie: </div>
                <div class="dialogcolumn">{{mealToView.calorie}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Image: </div>
                <div class="dialogcolumn">{{mealToView.image}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Meal Rating: </div>
                <div class="dialogcolumn">
                    {{mealToView.averageRating}}
                </div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Available: </div>
                <div class="dialogcolumn">{{mealToView.isAvailable}}</div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Category(s): </div>
                <div class="dialogcolumn">
                    <ul style="margin-left: 20px;">
                        <li *ngFor="let category of mealToView.categories">{{category}}</li>
                    </ul> 
                </div>
            </div>
            <div class="dialogrow">
                <div class="dialogcolumn columndescription" >Ingredient(s): </div>
                <div class="dialogcolumn">
                    <ul style="margin-left: 20px;">
                        <li *ngFor="let ingredient of mealToView.ingredients">{{ingredient.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog header="Update Meal" [(visible)] = "showUpdateDialog" [modal] = "true" [closable] = "false">
        <div *ngIf="resultError == true" style="color:red;">
            {{message}}
        </div>
        <form class="updateMealForm" #updateMealForm="ngForm" (ngSubmit)="updateSubmit(updateMealForm)">
            <div class="p-field p-grid contentBoxes">
                <label for="name" class="p-col-fixed" style = "width: 100px;">Name: </label>
                <div class="p-col">
                    <input id="name" type="text" pInputText name="name" #name="ngModel" [(ngModel)]="mealToUpdate.name" style="width: 450px" required="true">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
                    <div class="error" *ngIf="name.errors != null && name.errors.required">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="p-field p-grid contentBoxes">
                <label for="description" class="p-col-fixed" style = "width: 100px;">Description: </label>
                <div class="p-col">
                    <input id="description" type="text" name="description" #description="ngModel" pInputText [(ngModel)]="mealToUpdate.description" style="width: 450px" required="true">
                </div>
                <div *ngIf="description.invalid && (description.dirty || description.touched || submitted)" class="errorText">
                    <div class="error" *ngIf="description.errors != null && description.errors.required">
                        Description is required.
                    </div>
                </div>
            </div>
            <div class="p-field p-grid contentBoxes">
                <label for="price" class="p-col-fixed" style = "width: 100px;">Price: </label>
                <div class="p-col">
                    <input pInputText type="number" min="0.00" max="10000.00" step="0.01" name="price" id="price"
                    [(ngModel)]="mealToUpdate.price" #price="ngModel" required style="width: 450px"/>
                </div>
                <div *ngIf="price.invalid && (price.dirty || price.touched || submitted)" class="errorText">
                    <div class="error" *ngIf="price.errors != null && price.errors.required">
                        Price is required.
                    </div>
                </div>
            </div>
            <div class="p-field p-grid contentBoxes">
                <label for="calorie" class="p-col-fixed" style = "width: 100px;">Calorie: </label>
                <div class="p-col">
                    <input pInputText class="input" type="number" min="0.00" max="10000.00" step="1" name="calorie"
                    id="calorie" #calorie="ngModel" [(ngModel)]="mealToUpdate.calorie" required style="width: 450px"/>
                </div>
                <div *ngIf="calorie.invalid && (calorie.dirty || calorie.touched || submitted)" class="errorText">
                    <div class="error" *ngIf="calorie.errors != null && calorie.errors.required">
                        Calorie is required.
                    </div>
                </div>
            </div>
            <div class="p-field p-grid contentBoxes">
                <label for="image" class="p-col-fixed" style = "width: 100px;">Image: </label>
                <div class="p-col">
                    <img src="{{'http://localhost:8080/OTFood-war/uploadedFiles/bentos/' + mealToUpdate.image + '.jpg'}}" width="250rem" height="150rem"/>
                    <br/>
                    <p-fileUpload #fubauto mode="basic" name="image"  url="{{'http://localhost:8080/OTFoodRws/Resources/Bento/uploadImage/?name=' + mealToUpdate.image}}" accept="image/*"  [auto]="true" chooseLabel="Choose Image"  (onUpload)="onUpload()"></p-fileUpload>
                    <!-- <input id="" type="text" name="image" #image="ngModel" [(ngModel)]="mealToUpdate.image" pInputText style="width: 450px" required="true"> -->
                 
                </div>
              <!--   <div *ngIf="image.invalid && (image.dirty || image.touched || submitted)" class="errorText">
                    <div class="error" *ngIf="image.errors != null && image.errors.required">
                        Image is required.
                    </div>
                </div> -->
            </div>     
            <div class="checkboxcontents">
                <br/>
                <div class="content">
                    <label for="allcategories">Categories (Choose 1 or more):</label>
                    <div class="allcategories"*ngFor="let category of listOfCategories" class="p-field-checkbox">
                        <p-checkbox name="categories" value="category" [value]="category" [(ngModel)]="mealToUpdate.categories" [required]="true"></p-checkbox>
                        <label [for]="category">{{category}}</label>
                    </div>
                    <div class="error" *ngIf="categoriesError == true" style="color:red;">
                        {{categoriesMessage}}
                    </div>
                </div>
                <br/>
                <div class="content">
                    <label for="allingredients">Ingredients (Choose 1 or more):</label>
                    <div class="allingredients"*ngFor="let ingredient of listOfIngredientsObject" class="p-field-checkbox">
                        <p-checkbox name="ingredients" value="ingredient.ingredientId" [value]="ingredient.ingredientId" [(ngModel)]="listOfIngredients" [required]="true"></p-checkbox>
                        <label [for]="ingredient">{{ingredient.name}}</label>
                    </div>
                    <div class="error" *ngIf="ingredientsError == true" style="color:red;">
                        {{ingredientsMessage}}
                    </div>
                </div>
    
            </div>
            <div class="availability">
                <div class="p-field-radiobutton">
                    <p-radioButton name="available" value="true" [(ngModel)]="checked" inputId="true" ></p-radioButton>
                    <label for="true">Available</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radioButton name="unavailable" value="false" [(ngModel)]="checked" inputId="false"></p-radioButton>
                    <label for="true">Not Available</label>
                </div>        
            </div>
            <br/>
            <div class="formbuttons">
                <p-button class="cancel" (click)="closeDialog()"> Cancel </p-button>
                <p-button class="button" type="submit"> Submit </p-button>
            </div>  
        </form>    
    </p-dialog>
</section>

<app-footer></app-footer>