.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    flex-direction: row;
    margin: 10px
}

.headerContent > h3 {
    color: #fff;
    transform: translateY(7px);
    
}
.headerContent > .header {
    margin: 20px
}

.mealsTable {
    
}

.actionButton {
    
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.dialogrow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.dialogcolumn {
    margin: 4px
}


.columndescription {
    font-weight: bold;
}

.availability {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p-field-radiobutton {
    margin: 10px
}

.formbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 5px
}